@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Code Pro";
    background-color: #708791;
    color: white;
    height: 100vh;
    margin: auto;
}

.logo-imagem img{
    width: 100px;
}

.logo-imagem {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}   

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
}

main h2 {
    text-align: center;
    margin-top: 2%;
    font-family: "Source Code Pro";
    font-size: 36px;
    color: #ffba00;
}

.flex .coluna .icons-coluna a {
    font-size: 12px;
}

p {
    margin: 10px;
    line-height: 25px;
}

.coluna {
    justify-content: center;
    display: flex;
}

.icons-coluna {
    justify-content: center;
}

.flex .coluna a{
    text-decoration: none;
    color: #f8d36d;
}

input, textarea {
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #2f3f45;
    width: 100%;
}

button {
    border: 0;
}

.btn {
    background: #fff;
    color: #708791;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

.btn:hover {
    background: #ffba00;
    transition: 1s;
    cursor: pointer;
}

.footer {
    text-align: center;
    color: #f8d36d;
}







@media (width < 1000px){
    body{
        margin: auto;
    }


    .header {
        gap: 200px;
    }

    .header-nav ul{
        display: none;
    }

    .header-nav-escondido {
        display: flex;
        font-size: 30px;
        align-items: center;
        float: right;
    }
}



@media (width < 680px){
    body{
        margin: auto;
    }

    .header {
        gap: 200px;
    }

    .login-button .original {
        display: none;
    }

    .login-button .escondido {
        display: flex;
    }

}




@media (width < 590px){
    .header {
        gap: 120px;
    }
}




@media (width < 460px){
    .header {
        gap: 80px;
    }
}



@media (width < 430px){
    .header {
        gap: 60px;
    }
}

@media (width < 350px){
    .header {
        gap: 60px;
    }

    main a {
        display: flex;
    }
}