@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Source Code Pro";
    background-color: #708791;
    color: white;
    height: 100vh;
    margin: auto;
}

.logo-imagem img{
    width: 100px;
}

.logo-imagem {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}   

.login-button {
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.login-button a{
    border: none;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #f1f1f1;
}

.login-button a:hover{
    background-color: #ffba00;
    transition: 1s;
}

.login-button a{
    font-family: "Source Code Pro";
    text-decoration: none;
    color: #708791;
    font-weight: 800;
    font-size: 22px
}